body {
  background-color: #fff;
  color: #656565;
  font-family: 'THSarabunNew', Tahoma, Loma;
  font-size: 16px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
}
body,
html {
  min-height: 100%;
}
body,
li {
  line-height: 2;
}
a {
  color: #0054AD;
}
h1,
h2 {
  line-height: 1.2em;
}
.header .logo a,
body header.header .td {
  color: inherit;
}
.header .logo {
  margin: 50px 0;
  font-size: 2em;
}
.header .logo span:before {
  display: block;
  margin: 0 0 30px 0;
  font-size: 3em;
  color: #007AFF;
}
.top_header {
  background-color: #433C33;
  color: #fff;
  padding: 0.5em 0;
}
.language-menu:before {
  margin: 0;
  cursor: pointer;
}
.language-menu {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}
.language-menu:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.language-menu ul {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin-left: -1em;
  left: 50%;
  height: 0;
  font-size: 1em;
}
.language-menu::before {
  content: attr(data-text);
  text-transform: uppercase;
  font-family: inherit !important;
}
.language-menu:hover ul {
  height: auto;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.language-menu li>a {
  display: block;
  width: 2em;
  height: 2em;
  background-position: 50% 50%;
}
.language-menu,
.language-menu a,
.gdpanel a,
header.header li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.topmenu>ul ul,
.gdpanel a {
  text-shadow: none;
}
.gdpanel {
  margin-right: 10px;
}
body.toTop .fixed_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.topmenu>ul>li>a {
  font-weight: bold;
  text-transform: uppercase;
}
.language-menu li:hover,
.topmenu>ul>li.select,
.topmenu>ul>li.hover {
  background-color: #007AFF;
  color: #fff;
}
.topmenu>ul ul {
  color: #666;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bg_color,
.footer {
  margin-top: 20px;
}
.footer {
  background-color: #F7F7F7;
  border-top: 1px solid #007AFF;
  padding: 20px 0;
}

/* slide show */

.slide_display {
  position: relative;
  overflow: hidden;
}
.ghightslide .figure {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -100%;
  background-position: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.ghightslide .figure.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.ghightslide .button_container {
  display: none;
}

/* home page */

.home_page>section {
  margin-bottom: 3em;
}
body.toTop .home_page>section {
  margin-top: -3m;
  padding-top: 3em;
}
#product .figure {
  margin-bottom: 10px;
}

/* phone, tablet */

@media only screen and (max-width: 960px) {
  .home_page>section {
    margin-bottom: 3.5em;
  }
  body.responsive .home_page>section {
    margin-top: -3.5em;
    padding-top: 3.5em;
  }
}